@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/nav";
@import "layout/footer";

@import "components/cards";

@import "pages/index";
@import "pages/producto";
