@import "../abstracts/mixins";
@import "../abstracts/variables";


.contenido-principal {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 20px;
  padding: 20px;

  @include responsive(tablet) {
    grid-template-columns: 1fr;
  }
}

.imagen {
  position: relative;
  border: 1px solid $color-borde;
  border-radius: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }

  p {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }
}
