.producto {
  background: #fff;
  border-radius: 15px;
  box-shadow: $sombra;
  max-width: 250px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .precio {
    color: $color-precio;
    font-weight: 600;
  }
}
